<div *ngIf="error" class="alert alert-danger ml-2 mr-2 mt-2">
  {{error}}
</div>
<app-page-loader *ngIf="showLoader" [class.empty-table]="tableInfo && tableInfo.rowsInfo.rowsList.length===0"></app-page-loader>
<div class="mc-body-container">
  <div class="row sd-row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="grayed-header"> Initiate Diagnostic Script</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="diagnostic-script">
            <div class="form-group clearfix">
              <label for="cardNo" class="col-sm-2 col-form-label fs-14">Select diagnostic script</label>
              <div class="col-sm-2 mc-login-text">
                <select name="fiToken" class="form-control card-lists" (change)="listchange($event)">
                  <ng-container *ngFor="let script of diagnosticList">
                    <option value="{{script.scriptId}}">{{script.displayLabel}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="btn mc-login-text">
                <button class="btn mc-btn" (click)="diagnosticResult($event)">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row sd-row">
    <div class="col-sm-12">
      <div class="grayed-header"> Diagnostic Results</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="btn mc-refresh">
        <button class="btn btn-default" (click)="diagnosticRefresh()"><span class="refresh-icon"><img src="../../../../assets/images/reload.png"></span>Refresh</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-custom-data-table2 [tableInfo]="tableConfig" (iconClickEvent)="handleImageEvent($event)"></app-custom-data-table2>
    </div>
  </div>
</div>