<div class="container-fluid">
    <div class="refresh-btn-wrapper">
        <button class="btn mc-btn refresh-btn pull-right">Refresh</button>

    </div>
    <div class="section">
        <div class="section-title">
            <p>Components</p>
        </div>
        <div class="section-content">
            <app-fixed-header-data-grid [tableConfig]="componentTableConfig"></app-fixed-header-data-grid>
        </div>
    </div>

    <div class="section">
        <div class="section-title">
            <p>Physical Hosts</p>
        </div>
        <div class="section-content">
            <app-custom-data-table2 [tableInfo]="physicalHostsTableConfig"> </app-custom-data-table2>
            <!-- <app-fixed-header-data-grid [tableConfig]="physicalHostsTableConfig"></app-fixed-header-data-grid> -->
        </div>
    </div>

    <div class="section">
        <div class="section-title">
            <p>Virtual Hosts</p>
        </div>
        <div class="section-content">
            <!-- <app-custom-data-table2 [tableInfo]="virtualHostsTableConfig"> </app-custom-data-table2> -->
            <app-fixed-header-data-grid [tableConfig]="virtualHostsTableConfig"></app-fixed-header-data-grid>
        </div>
    </div>

    <div class="section">
        <div class="section-title">
            <p>Interfaces</p>
        </div>
        <div class="section-content">
            <app-fixed-header-data-grid [tableConfig]="interfacesSetupTableConfig"></app-fixed-header-data-grid>
        </div>
    </div>
</div>