.refresh-btn-wrapper{
    overflow: auto;
    margin-bottom: 0px;
    margin-top: 5px;
}

.section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.section .section-title{
    font-weight: 600;
    margin-bottom: 6px;
    height: 19px;
}

.section-content{
    border: 1px solid #6a94c1;
    padding: 10px;
    background: #e0ecff;
}
/**
 * Easy trapezoids with 3D transforms
 */

 p {
    position: relative;
    display: inline-block;
    padding: 2px 10px;
    margin-left: 15px;
    font-size: 14px;
    color: white;
}

p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #6a94c1;
    color: white;
    border-radius: 5px 5px 0 0;
    -webkit-transform: perspective(4px) rotateX(1deg);
    transform: perspective(4px) rotateX(1deg);
}

p.tab::before {
	border-radius: 10px 10px 0 0;
}
