<div class="navigation-bar">
    <ul class="mc-menu-bar">
        <li><a class="mc-menu-list" routerLink="adminGroups" routerLinkActive="active-link">Admin Groups</a></li>
        <li><a class="mc-menu-list" routerLink="adminAccounts" routerLinkActive="active-link">Admin Accounts</a></li>
        <li><a class="mc-menu-list" routerLink="systemTopology" routerLinkActive="active-link">System Topology</a></li>
        <li><a class="mc-menu-list" routerLink="systemDiagnostics" routerLinkActive="active-link">System Diagnostics</a></li>
        <li><a class="mc-menu-list" routerLink="systemEvents" routerLinkActive="active-link">System Events</a></li>
        <li><a class="mc-menu-list" routerLink="systemMessages" routerLinkActive="active-link">System Messages</a></li>
        <li><a class="mc-menu-list" routerLink="credentials" routerLinkActive="active-link">Credentials</a></li>
        <li><a class="mc-menu-list" routerLink="billingFile" routerLinkActive="active-link">Billing File</a></li>
        <li><a class="mc-menu-list" routerLink="ondotConfig" routerLinkActive="active-link">Ondot Config</a></li>
        <li><a class="mc-menu-list" routerLink="jobScheduler" routerLinkActive="active-link">Job Scheduler</a></li>
    </ul>
</div>
<router-outlet></router-outlet>

