<div class="container-fluid">
  <div>
    <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Add New</button>
  </div>
  <div>
    <app-custom-data-table [tableInfo]="tableConfig" (linkClickEvent)="handleUpdateClickEvent($event)" (refreshTableEvent)="handleRefreshTableEvent($event)">
    </app-custom-data-table>
  </div>
</div>
<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Are you sure you want to remove this admin account permanently ?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">OK</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Cancel</button>
  </div>
</ng-template>