<div class="modal-header">
  <h4 class="modal-title pull-left">FORM</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="loginName">Login Name</label>
            <input type="text" id="loginName" class="form-control" ngModel #loginName="ngModel" name="loginName"
              [ngClass]="{ 'is-invalid': f.submitted && loginName.invalid && loginName.touched }" required>
            <div *ngIf="loginName.invalid && loginName.touched" class="invalid-feedback">
              <div *ngIf="loginName.errors.required">First Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" ngModel #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid && password.touched }"
              required minlength="6" />
            <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" ngModel #fullName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fullName.invalid && fullName.touched }"
              required />
            <div *ngIf="fullName.invalid && fullName.touched" class="invalid-feedback">
              <div *ngIf="fullName.errors.required">Full Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="adminDescription">Admin Description</label>
            <input type="text" class="form-control" name="adminDescription" ngModel #adminDescription="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adminDescription.invalid && adminDescription.touched }"
              required />
            <div *ngIf="adminDescription.invalid && adminDescription.touched" class="invalid-feedback">
              <div *ngIf="adminDescription.errors.required">Admin Description is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="adminGroupId ">Admin Groups</label>
            <select id="adminGroups" class="form-control" [ngModel]="defaultAdminGroups" name="adminGroupId">
              <option *ngFor="let  adminGroupsDTOList of adminGroupsDTOLists" [value]="adminGroupsDTOList.adminGroupId">{{adminGroupsDTOList.adminGroupName}}</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
          <div class="btn">
            <button class="btn" type="reset">Clear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>













<!-- <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>Admin Account Detail</h3>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="loginName">Login Name</label>
          <input type="text" class="form-control" name="loginName" [(ngModel)]="model.loginName" #loginName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && loginName.invalid }"
            required />
          <div *ngIf="f.submitted && loginName.invalid" class="invalid-feedback">
            <div *ngIf="loginName.errors.required">Login Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
            required minlength="6" />
          <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" name="fullName" [(ngModel)]="model.fullName" #fullName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fullName.invalid }"
            required />
          <div *ngIf="f.submitted && fullName.invalid" class="invalid-feedback">
            <div *ngIf="fullName.errors.required">Full Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="adminDescription">Admin Description</label>
          <input type="text" class="form-control" name="adminDescription" [(ngModel)]="model.adminDescription" #adminDescription="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && adminDescription.invalid }" required />
          <div *ngIf="f.submitted && adminDescription.invalid" class="invalid-feedback">
            <div *ngIf="adminDescription.errors.required">Admin Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="adminGroup">Admin Groups</label>
          <select class="form-control" id="adminGroup" formControlName="adminGroup">
            <option *ngFor="let adminGroup of adminGroups" [value]="adminGroup.id">{{adminGroup.name}}</option>
          </select>
          <div *ngIf="f.submitted && adminGroup.invalid" class="invalid-feedback">
            <div *ngIf="adminGroup.errors.required">Admin Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
          <div class="btn">
            <button class="btn" type="reset">Clear</button>
          </div>
        </div>        
      </form>
    </div>
  </div> -->