<div class="container-fluid">
  <div >
      <div class="serial-index" *ngIf="tableInfo.isRowSrNumEnabled && tableInfo.rowsInfo.rowsList.length>0">
          <table >
              <thead>
                <th>&nbsp;</th>
              </thead>
              <tbody>
                <tr *ngFor="let rowItem of tableInfo.rowsInfo.rowsList;let i=index">
                  <td class="index">
                    {{(i+1)+(tableInfo.currentPageNumber-1)*tableInfo.itemsPerPageInfo.activeOption}}
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
    
      <div class="table-container" [class.serial-index]="tableInfo.isRowSrNumEnabled && tableInfo.rowsInfo.rowsList.length>0" >
          <table >
              <thead>
                <ng-container *ngFor="let columnInfo of tableInfo.columnInfo">
                  <th>{{columnInfo.headerName}}</th>
                </ng-container>
              </thead>
              <tbody>
                <tr *ngIf="tableInfo.rowsInfo.rowsList.length===0">
                  <td colspan="6">No record found</td>
                </tr>
                <tr *ngFor="let rowItem of tableInfo.rowsInfo.rowsList;let i=index" (click)="selectRow(rowItem)" [class.selected]="isSelectedRow(rowItem)">
                  <ng-container *ngFor="let columnInfo of tableInfo.columnInfo">
                      <td *ngIf="columnInfo.columnType==='links'">
                          <ng-container *ngFor="let link of columnInfo.listOfLinks;let linkIndex=index;">
                            <a class="link" (click)="clickedLink(link,rowItem)">{{link}}</a> 
                            <span *ngIf="linkIndex<columnInfo.listOfLinks.length-1"> | </span>
                          </ng-container>
                      </td>
                      <td *ngIf="columnInfo.columnType==='text'">
                          {{rowItem[columnInfo.propertyName]}}
                      </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
  
  <div class="paginator" *ngIf="tableInfo.itemsPerPageInfo.isEnabled">
      <div class="page-list-container">
          <select class="pagination-page-list" (change)="pageListChange($event)" [disabled]="tableInfo.rowsInfo.rowsList.length===0">
              <ng-container *ngFor="let option of tableInfo.itemsPerPageInfo.options">
                  <option> {{option}}</option>
              </ng-container>
          </select>
      </div>

      <div class="pagination-controls">
          <div class="pagination-btn-separator"></div>

          <button [class.disabled]="tableInfo.currentPageNumber == 1 || tableInfo.rowsInfo.rowsList.length===0" (click)="goToFirstPage()"><i class="fa fa-step-backward" aria-hidden="true"></i>
          </button>
          <button [class.disabled]="tableInfo.currentPageNumber == 1 || tableInfo.rowsInfo.rowsList.length===0" (click)="goToPreviousPage()"><i class="fa fa-chevron-left" aria-hidden="true"></i>

          </button>

          <div class="pagination-btn-separator"></div>

          <div class="pagination-text-controls">Page 
            <input type="text" class="" (blur)="pageNumberChange($event)" [value]="tableInfo.currentPageNumber" [disabled]="tableInfo.rowsInfo.rowsList.length===0" >
            
            <!-- [value]="(tableInfo.currentPageNumber-1)*tableInfo.itemsPerPageInfo.activeOption+1">  -->
            of {{tableInfo.rowsInfo.rowsList.length===0 ? 1 : maxPages}}
          </div> 

          <div class="pagination-btn-separator"></div>

          <button [class.disabled]="tableInfo.currentPageNumber == maxPages || tableInfo.rowsInfo.rowsList.length===0" (click)="goToNextPage()"><i class="fa fa-chevron-right" aria-hidden="true"></i>

          </button>
          <button [class.disabled]="tableInfo.currentPageNumber == maxPages || tableInfo.rowsInfo.rowsList.length===0" (click)="goToLastPage()"><i class="fa fa-step-forward" aria-hidden="true"></i>
          </button>

          <div class="pagination-btn-separator"></div>

          <button (click)="refreshTable()"><i class="fa fa-refresh" aria-hidden="true"></i>
          </button>

      </div>

      <div class="items-count">
          Displaying {{tableInfo.rowsInfo.rowsList.length===0 ? 0 : (tableInfo.currentPageNumber-1)*tableInfo.itemsPerPageInfo.activeOption+1}}
           to 
           {{(tableInfo.currentPageNumber-1)*tableInfo.itemsPerPageInfo.activeOption+tableInfo.rowsInfo.rowsList.length}} of {{tableInfo.rowsInfo.rowsList.length===0 ? 0 : tableInfo.totalRecords}} items
      </div>
  </div>
</div>
