<div class="container-fluid" *ngIf="tableInfo">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-header">
        <div class="panel-title">
          List of Matching Customers
        </div>
        <button class="toggle-btn" (click)="togglePanelBody()">
          <i *ngIf="_isPanelExpanded" class="fa fa-chevron-up" aria-hidden="true"></i>
          <i *ngIf="!_isPanelExpanded" class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="panel-body" #panelBody>
        <app-custom-data-table [tableInfo]="tableInfo" (pageListChangeEvent)="handlePageListChangeEvent($event)"
          (goToFirstPageEvent)="handleGoToFirstPageEvent($event)" (goToPreviousPageEvent)="handleGoToPreviousPageEvent($event)"
          (goToNextPageEvent)="handleGoToNextPageEvent($event)" (goToLastPageEvent)="handleGoToLastPageEvent($event)"
          (pageNumberChangeEvent)="handlePageNumberChangeEvent($event)" (refreshTableEvent)="handleRefreshTableEvent($event)"
          (linkClickEvent)="handleLinkClickEvent($event)">
        </app-custom-data-table>

        <div class="loader"  *ngIf="tableInfo && !tableInfo.isAsyncEventComplete" [class.empty-table]="tableInfo.rowsInfo.rowsList.length===0">
           
          <div class="loader-msg">
            <div>
                <img src="./assets/images/loading_icon2.gif">
            </div> 
            <div>Please Wait...</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>