
<div class="modal-header">
  <h4 class="modal-title pull-left">Add Group</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;</span>
  </button>
</div> 


<div class="modal-body">
  <form [formGroup]="fmdAddAdminGroup" novalidate>
    <div class="form-group has-feedback">
      <label for="name">Admin Group Name</label>
      <input type="text" name="groupName" formControlName="groupName" autocomplete="additional-name" class="form-control" placeholder="Name *">
      <tn-form-error [control]="fmdAddAdminGroup.controls.groupName" [msg]="'Group Name'"></tn-form-error>
    </div>
    <div class="form-group has-feedback">
      <label for="name">Privileges</label>
      <app-tree-checklist-example></app-tree-checklist-example>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="fmdAddAdminGroup.invalid" (click)="addGroup()">Submit</button>
    <div class="btn">
      <button class="btn" type="reset">Clear</button>
    </div>
  </form>
</div>