<section>
  <div class="admin-account-detail-container">
    <h2>Add Admin Accounts</h2>
    <form (ngSubmit)="signupForm.form.valid && onSubmit(signupForm)" #signupForm="ngForm" novalidate>

      <div>
        <mat-form-field>
          <input type="text" id="loginNameId" matInput placeholder="Login Name" [(ngModel)]="adminAccount.loginName" #loginName="ngModel"
            name="loginName" [ngClass]="{ 'is-invalid': signupForm.submitted && loginName.invalid && loginName.touched }" required>
        </mat-form-field>        
        <div *ngIf="loginName.invalid && loginName.touched">
          <mat-error *ngIf="loginName.errors.required">Login Name cannot be empty</mat-error>
        </div>
      </div>

      <div>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" [disabled]="adminAccount.password === null" name="password" [(ngModel)]="adminAccount.password"
            #password="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && password.invalid && password.touched }"
            required />
        </mat-form-field>
        <div *ngIf="password.invalid && password.touched">
          <mat-error *ngIf="password.errors.required">Password cannot be empty.</mat-error>
        </div>
      </div>

      <div>
        <mat-form-field>
          <input type="text" name="fullName" matInput placeholder="Full Name" [(ngModel)]="adminAccount.fullName" 
          #fullName="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && fullName.invalid && fullName.touched }"
            required />
        </mat-form-field>
        <div *ngIf="fullName.invalid && fullName.touched">
          <mat-error *ngIf="fullName.errors.required">Full Name cannot be empty.</mat-error>
        </div>
      </div>

      <div>
        <mat-form-field>
          <input type="text" name="adminDescription" matInput  placeholder="Admin Description"  [(ngModel)]="adminAccount.adminDescription"
            #adminDescription="ngModel" [ngClass]="{ 'is-invalid': signupForm.submitted && adminDescription.invalid && adminDescription.touched }"
            required />
        </mat-form-field>
        <div *ngIf="adminDescription.invalid && adminDescription.touched">
          <mat-error *ngIf="adminDescription.errors.required">Admin Description cannot be empty.</mat-error>
        </div>
      </div>

      <div>
        <mat-form-field>
          <select matNativeControl required id="adminGroups" [(ngModel)]="adminAccount.adminGroupId" name="adminGroupId" required>
            <option *ngFor="let  adminGroupsDTOList of adminGroupsDTOLists" [value]="adminGroupsDTOList.adminGroupId">{{adminGroupsDTOList.adminGroupName}}</option>
          </select>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button type="submit">
          <mat-icon>save</mat-icon>Submit</button>
        <button mat-raised-button type="reset">Clear</button>
      </div>
    </form>
  </div>
</section>